pip
certifi
ta
numpy
pandas
#pandas_datareader
#pandas_profiling
matplotlib
seaborn
#pydeck
plotly
altair<5
#bokeh==2.4.3
#yfinance
#mplfinance
datetime
#wordcloud
#folium
#scipy
#scikit-learn
#tensorflow
streamlit>1.49.0
#streamlit_folium
#streamlit-bokeh
#streamlit_image_coordinates
#ipykernel
#jupyter
#kagglehub
#notebook
#python-dotenv
#sqlalchemy
#duckdb
#duckdb-engine
#prophet
#wikipedia
#google-adk
#google-genai
#google-generativeai
#google-ai-generativelanguage
#openai
#langchain
#langchain-community
#langchain-experimental
#langchain-openai
